<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:weightSum</span><span class="s2">=&quot;1&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/_url&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;0.10&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">android:weightSum</span><span class="s2">=&quot;1&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;EditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/edittext_url&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;0.7&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;Button</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/back&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;35dp&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;0.1&quot;</span>
            <span class="s1">app:icon</span><span class="s2">=&quot;@drawable/ic_action_back&quot; </span><span class="s0">/&gt;</span>


        <span class="s0">&lt;Button</span>

            <span class="s1">android:id</span><span class="s2">=&quot;@+id/forward&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;35dp&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;0.1&quot;</span>
            <span class="s1">app:icon</span><span class="s2">=&quot;@drawable/ic_action_forward&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;Button</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/reload&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;35dp&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;0.1&quot;</span>
            <span class="s1">app:icon</span><span class="s2">=&quot;@drawable/ic_action_name&quot; </span><span class="s0">/&gt;</span>


    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;WebView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/wv_brow&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;0.80&quot;</span><span class="s0">&gt;&lt;/WebView&gt;</span>

    <span class="s0">&lt;ProgressBar</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/progressbar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>

        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/buttons&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;0.10&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">android:weightSum</span><span class="s2">=&quot;1&quot;</span><span class="s0">&gt;</span>


        <span class="s4">&lt;!--</span>

        <span class="s4">&lt;Button 
            android:layout_weight=&quot;0.25&quot; 
            android:id=&quot;@+id/gotoligin&quot; 
            android:layout_width=&quot;wrap_content&quot; 
            android:layout_height=&quot;wrap_content&quot; 
            android:onClick=&quot;gotologin&quot; 
            android:text=&quot;login&quot; /&gt; 
            !--&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>


<span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>